/*General styling for the whole page - root variables*/
:root {
  --extra-dark: #112b3c;
  --dark: #1c658c;
  --medium: #398ab9;
  --light: #d8d2cb;
  --extra-light: #eeeeee;
  --hover: #fae5a5;
  --logo-dark: rgb(155, 14, 42);
}

html,
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
  flex: 2;
}

a:hover {
  text-decoration: none;
  color: var(--hover);
}

li {
  list-style: none;
}

.company-logo {
  width: 100%;
}
.text-highlight {
  font-weight: bold;
}

.header,
.footer,
.link-text {
  color: var(--extra-light);
}
