.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLink {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
  min-width: 300px;
}
