* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}

body,
#root {
  margin: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.title {
  margin: 0;
}
.main {
  flex: 2;
  /* min-height: 90vh; */
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.navLink {
  display: grid;
  /* flex-direction: row;
  flex-wrap: wrap;*/

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
  min-width: 60%;
}

.navLink ul {
  min-width: 80%;
}

@media screen and (max-width: 480px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
