.App {
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.navTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 20%;
}

.navLink {
  display: grid;
  /* flex-direction: row;
  flex-wrap: wrap;*/

  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 10px;
  font-weight: bold;
  min-width: 60%;
}

.navLink ul {
  min-width: 80%;
}

@media screen and (max-width: 420px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
